html {
    scroll-behavior: smooth;
}

body {
    background-image: url('./Images/Light-paper-fibers-Seamless-Pattern.jpg');
    background-attachment: fixed;
    background-size: 20%;
    /* background-repeat: no-repeat; */
}

footer {
    background-color: black;
    color: white;
    text-align: center;
}

#RGC {
    background-color: #1e1e1e;
    font-weight: 100;
    font-size: 10px;
    padding: 5px;
    background:
}

p {
    padding: 5%;
}

#arrowDn {
    margin-left: 50%;
    margin-top: 10%;
    animation: bounceArrow 1.2s infinite;
    /* background-attachment: fixed; */
}
#arrowDnAnim {
    margin-left: 50%;
    margin-top: 30%;
    animation: bounceArrow 1.2s infinite;
    /* background-attachment: fixed; */
}

@keyframes bounceArrow {
    0% {}
    50% {
        transform: translate(0, 8px);
    }
}

.lft {
    /* background-color: rgb(223, 222, 222); */
}

.drop {
    color: rgb(255, 188, 17);
    /* font-size: 35px; */
}

.display-6 {
    margin-top: 15%;
}

#smbox {
    width: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, .7);
}

.fas fa-tools {
    color: black !important;
}

#navLogo {
    width: 8%;
    /* position: absolute; */
}

.navbar-brand {
    color: rgb(249, 178, 0) !important;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.337);
    font-size: 20px !important;
}

a {
    color: rgb(249, 178, 0) !important;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.337);
}

.navbar-toggler {
    background-color: rgb(249, 178, 0) !important;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.500) !important;
    z-index: 100;
    position: fixed;
    height: 80px;
    width: 100vw;
    
}

.dropdown-menu {
    background-color: rgba(0, 0, 0, 0.500) !important;
    border: none;
}

.dropdown-item:active {
    background-color: black !important;
}

.jumbotron {
    color: rgb(249, 178, 0);
    text-shadow: 2px 2px 2px black;
    background-image: url('./Images/peoplewatchtvLiondarker.png');
    /* background-position: center left -30px; */
    background-size: cover;
    height: 700px;
    background-repeat: no-repeat;
    /* text-align: center; */
    background-attachment: fixed;
}

/*
 #tvPic{
    width: 100px;
    height: 400px;
    background-image: url('./Images/plug.png');
    background-attachment: fixed;
    margin-left: 40%;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position-x: 520px;
    background-position-y: 120px;

}

#soundPic{
    height: 400px;
    background-image: url('./Images/soundbar.jpg');
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-x: -350px;
    background-position-y: 120px;
}
#wirePic{
    height: 400px;
    background-image: url('./Images/DdPics/output.jpg');
    background-attachment: fixed;
    background-size: 90%;
    background-repeat: no-repeat;
    background-position-x: 520px;
    background-position-y: 120px;
}
#camPic{
    width: 100%;
    height: 400px;
    background-image: url('./Images/cams2.jpg');
    background-attachment: fixed;
}
#netPic{
    width: 100%;
    height: 400px;
    background-image: url('./Images/HomeWirelessNetworkDiagram.jpg');
    background-attachment: fixed;
}
#smartPic{
    width: 100%;
    height: 400px;
    background-image: url('./Images/ecosys.jpg');
    background-attachment: fixed;
}
#firePic{
    width: 100%;
    height: 400px;
    background-image: url('./Images/fireandroid.png');
    background-attachment: fixed;
}
#mirrorPic{
    width: 100%;
    height: 400px;
    background-image: url('./Images/SmartMirror.jpg');
    background-attachment: fixed;
} */

.container {
    /* background-color: rgba(0, 0, 0, 0.283); */
    border-radius: 5px;
    width: 60%;
    margin-left: 5%;
}

cursor-pointer {
    cursor: url('./images/hammersmallshadflip.png'), auto;
}

.jumbotron jumbotron-fluid {}

#clrWarnBtn {
    text-shadow: none;
    background-color: rgba(255, 188, 17) !important;
    color: black !important;
    border: 1px 1px 1px white !important;
}

#clrWarnBtn:hover {
    text-shadow: none;
    background-color: #ffffff !important;
    color: rgba(255, 188, 17);
    /* text-shadow: 1px 1px 1px black; */
}

#bodyLogo {
    width: 20%;
}

body {
    /* background-color: black; */
    color: black;
}

h2, h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 300%;
}

h1 {
    color: white;
}

.serv {
    color: white;
}

#sparks {
    z-index: -100;
    width: 100%;
    display: block;
    margin: auto;
    position: absolute;
}

@keyframes rotate-in-center {
    0% {
        transform: rotate(-1800deg);
        opacity: 0;
    }
    100% {
        transform: rotate(0);
        opacity: 1;
    }
}

/* button:active {
  animation: rotate-out-center 0.6s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;

  }
  @keyframes rotate-out-center {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: rotate(-360deg);
              transform: rotate(-360deg);
      opacity: 0;
    }
  } */

iframe {
    margin-top: 8%;
    margin-left: 20%;
}

.row {
    text-align: center;
}

.col-sm {
    /* border-bottom: 1px solid grey; */
    width: 100%;
}

#rtTextTop {
    display: none;
}

#splashLogo {
    width: 100%;
    z-index: 100;
    animation: rotate-in-center 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    display: block;
    margin: auto;
}

#modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    background: rgb(0, 0, 0);
    z-index: 99999;
    height: 100%;
    width: 100%;
}

.modalPopup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 0 30px;
}

.modalContent {
    padding: 0 2em;
}

p {
    margin: .75em 0 1.5em;
}

.buttonStyle {
    /* border: transparent; */
    border-radius: 5px;
    background: rgb(255, 188, 17);
    color: black !important;
    font-weight: bold;
    font-size: 14px;
    padding: 6px 25px;
    text-decoration: none;
    margin-left: 41%;
    position: relative;
}

.buttonStyle:hover {
    background: #1e1e1e;
    color: rgb(255, 188, 17) !important;
}

/* scroll events */

@keyframes fade-in {
    from {opacity: 0; transform: scale(.7,.7)}
    to {opacity: 1;}
}
.fade-in-element {
  animation: fade-in .5s;
}
.hidden {
    opacity: 0;
    
  }

/* .daBkgd{
    display: none;
} */
hr{
    color: white;
}
.scroll1 {
    animation: bounceInRight 1.5s 1;
    /* background-color: yellow; */
    display: block;
}

.scroll1Out {
    display: none;
}

.scroll2 {
    animation: bounceInLeft 1.5s 1;
    /* background-color: red; */
    display: block;
}

.scroll2Out {
    display: none;
}

.scroll3 {
    animation: bounceIn 1.5s 1;
    /* background-color: blue; */
    display: block;
}

.scroll3Out {
    display: none;
}

.scroll4 {
    animation: bounceInLeft 1.5s 1;
    /* background-color: green; */
    display: block;
}

.scroll4Out {
    display: none;
}

.scroll5 {
    animation: bounceInRight 1.5s 1;
    /* background-color: orange; */
    display: block;
}

.scroll5Out {
    display: none;
}

.scroll6 {
    animation: bounceIn 1.5s 1;
    /* background-color: gray; */
    display: block;
}

.scroll6Out {
    display: none;
}

.scroll7 {
    animation: bounceInRight 1.5s 1;
    /* background-color: yellow; */
    display: block;
}

.scroll7Out {
    display: none;
}

.scroll8 {
    animation: bounceInLeft 1.5s 1;
    /* background-color: red; */
    display: block;
}

.scroll8Out {
    display: none;
}

/* .scroll9 {
    animation: bounceInRight 1.5s 1;
    display: block;
}

.scroll9Out {
    display: none;
}

.scroll10 {
    animation: bounceInLeft 1.5s 1;
    display: block;
}

.scroll10Out {
    display: none;
} */

/* media queries */

@media only screen and (max-width: 992px) {
    .navbar-toggler {
        margin-left: 90%;
        margin-top: -11%;
    }
    .nav-item {
        margin-left: 70%;
    }
    .dropdown-menu {
        margin-left: 5%;
    }
    .navbar {}
}

@media only screen and (max-width: 768px) {
    .buttonStyle {
        margin-left: 40%;
    }
    .display-6 {
        margin-top: 35%;
    }
    .jumbotron {
        background-color: transparent !important;
        background-image: url('./Images/tvBrickDark.jpg');
        background-position: center right -150px;
        background-size: cover !important;
        background-attachment: scroll;

        /* text-align: center; */
    }
    .container {
        /* background-color: rgba(0, 0, 0, 0.283); */
        /* border-radius: 5px; */
        width: 70%;
    }
    iframe {
        width: 500px;
        margin-left: 120px;
        margin-top: 20%;
    }
    .modalContent {
        width: 150%;
        margin-left: -20%;
    }
    h1 {
        font-size: 250%;
    }
    .nav-item {
        padding-left: 35px;
        margin-left: 60%;
        background-color: rgb(0, 0, 0, 0.933) !important;
    }
    .dropdown-menu {
        margin-left: -13%;
        background-color: rgba(0, 0, 0, 0.933) !important;
    }
    .navbar {
        background-color: rgb(0, 0, 0, 0.933) !important;
    }
}

@media only screen and (max-width: 572px) {
    #rtText {
        display: none;
    }
    #rtTextTop {
        display: block;
    }
    iframe {
        width: 350px;
        margin-left: auto;
        margin-top: 20%;
    }
    h3 {
        font-size: 20px;
    }
}

@media only screen and (max-width: 414px) {
    .navbar-toggler {
        margin-left: 75%;
        margin-top: -15%;
    }
    .nav-item {
        padding-left: 15px;
        margin-left: 70%;
        background-color: rgb(0, 0, 0, 0.933) !important;
    }
    .dropdown-menu {
        margin-left: -175%;
        background-color: rgba(0, 0, 0, 0.933) !important;
    }
    .navbar {
        background-color: rgb(0, 0, 0, 0.933) !important;
    }
    .buttonStyle {
        margin-left: 20%;
    }

}