#mainBody {
    background-image: url('./Images/peoplewatchtvLiondark.png');
    background-size: 120%;
    background-repeat: no-repeat;
    background-position: auto;
    position: relative;
    overflow-x: hidden;
    /* color: white; */
}
.fas, .fab{
    color: rgb(255, 188, 17);
}
#navLogo {
    width: 7%;
}

#bodyLogo {
    width: 20%;
}

body {
    background-color: black;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
}
.myContainer{
    color: rgb(255, 188, 17);
    text-shadow: 2px 2px 2px black;
    /* background-color: rgba(133, 133, 133, 0.166); */
}
.serv{
    color: white;
}
#sparks{
z-index: -100;
width: 100%;
display: block;
margin: auto;
position: absolute;

}
#splashLogo {
    width: 70%;
    z-index: 100;
    /* position: absolute; */
    animation: rotate-in-center 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    display: block;
    margin: auto;
}

@keyframes rotate-in-center {
    0% {
        transform: rotate(-1440deg);
        opacity: 0;
    }
    100% {
        transform: rotate(0);
        opacity: 1;
    }
}

/* button:active {
  animation: rotate-out-center 0.6s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;

  }
  @keyframes rotate-out-center {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: rotate(-360deg);
              transform: rotate(-360deg);
      opacity: 0;
    }
  } */

  .services{
    background-image: url('./Images/francesca-tosolini-3LjBfGTbTJY-unsplash.jpg');
    background-size: 120%;
    background-repeat: no-repeat;
    background-position: auto;
    position: relative;
    overflow-x: hidden;
  }